.main-container {
    background-color: whitesmoke;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 250px;
    justify-content: space-between;
    align-items: center;
}