.header-container {
    padding: 20px 300px;
    background-color: rgb(166, 176, 191);
}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
}